.markdown-preview.markdown-preview {
  --accent-color: #ffd900;

  code, pre {
    font-family: 'Anonymous pro', 'Courier New', Courier, monospace;
    color: gray;
  }

  h1 {
    font-size: 120px !important;
    color: var(--accent-color);
  }

  h2, h3 {
    margin: 0 !important;
    line-height: 2 !important;
    position: relative;
    text-align: left !important;

    &:after {
      display: block;
      position: absolute;
      content: '';
      height: 10px;
      top: 90%;
      background: var(--accent-color);
      width: 100px;
    }
  }

  a {
    color: var(--accent-color) !important;
  }

  sup {
    font-size: 0.5em;
    color: gray;
    padding: 0 0.2em;
  }

  s {
    text-decoration-color: gray;
  }

  .emoji {
    font-size: 240px;
    margin: 0 auto;
  }

  .image-over {
    width: 100%;
    display: block;
    margin: 0 auto;
  }

  .image-half {
    max-width: 50%;
  }

  .slides:after {
    position: absolute;
    bottom: 0;
    right: 0;
    content: "https://bit.ly/hammers-of-time" !important;
    font-size: 24px;
    color: #777;
  }

}